@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
  }
}

@media print {
  @page {
    margin: 0;
    size: A4 portrait;
  }
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    width: 210mm;
    height: 297mm;
  }
  .no-print {
    display: none !important;
  }
}
